{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>Sound Reservation</title>

<meta charset="utf-8">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">


	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>




<link rel="stylesheet" type = "text/css" href="{% static 'css/ravi/bootstrapresmy.min.css'%}">
<link rel="stylesheet" type = "text/css" href="{% static 'css/ravi/stylereservationmy.css'%}">



<link rel="stylesheet" type = "text/css" href="{% static 'css/ravi/custom.css' %}">



</head>
<body style="background-color:black;">



<!--Navigation Bar-->

<nav class="nav">
        <div class="container">
           
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign in</a></li>
					 <li><a href="#">Reservations</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

<!--/Navigation Bar-->

			<!--Main Heading-->

				<div id="Voltage_Entertainment2">
						<span>Voltage Entertainment</span>
					</div>

			<!--/Main Heading-->		


	<!--Image-->

		<img id="logo_2" img src="{% static 'images/logo.jpg' %}">
	<!--/Image-->





                                 <!--Reservation-->


                              <div id="booking" class="section">
                                  <div class="section-center">
                                    <div class="container">
                                      <div class="row">
                                        <div class="booking-form">
                                          <div class="form-header">
                                            <h1>Make your reservation</h1>
                                          </div>
                                          
                                             {% for sound in soundsystem%}
                                      <form method = "POST" action="{% url 'bookSoundPackages'%}">
                                      {% csrf_token %}


                                            <div class="form-group">
                                              <input class="form-control" type="text"  name="packname" value="{{sound.Package_name}}" readonly>
                                              <span class="form-label">Package Name</span>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input class="form-control" type="text" name = "id" value = "{{sound.id}}" readonly>
                                                  <span class="form-label">ID</span>
                                                </div>
                                              </div>
                      
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input class="form-control" type="text"  name="brand" value="{{sound.Brand}}" readonly>
                                                  <span class="form-label">Brand</span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                  <input class="form-control" type="text" name="suitable" value="{{sound.Suitable_for}}" readonly>
                                                  <span class="form-label">Suitable For</span>
                                                </div>
                                              </div>

                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input class="form-control" type="text" name="suitable" value="{{sound.Price}}" readonly>
                                                  <span class="form-label">Price</span>
                                                </div>
                                              </div>




                                          
                                            
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input class="form-control" name="bookingdate" type="date" required>
                                                  <span class="form-label">Start Date</span>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <input class="form-control" name="enddate" type="date" required>
                                                  <span class="form-label">End Date</span>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="form-btn">
                                              <!--<button class="submit-btn">Add To Reservation</button>-->
                                               <input class="submit-btn"type="submit" value="Add To Reservation">
                                            </div>
                                          </form>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
            


                        <!--/Reservation-->









<script src="{% static 'js/ravijs/jquerymy.min.js' %}"></script>
	<script>
		$('.form-control').each(function () {
			floatedLabel($(this));
		});

		$('.form-control').on('input', function () {
			floatedLabel($(this));
		});

		function floatedLabel(input) {
			var $field = input.closest('.form-group');
			if (input.val()) {
				$field.addClass('input-not-empty');
			} else {
				$field.removeClass('input-not-empty');
			}
		}
	</script>


    


</body>
</html>